.title {
      font-family: Arial, Helvetica, sans-serif;
      margin: 20px;
      text-align: center; 
    }
.sub-title{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 20%;
  margin: 15px;
  padding: 15px;
}
