.btn {
  text-align: center;
  background-color: #7c8daf; 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  top: 50%;
  margin: 45px;
  padding: 12px;
}
.form-group{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 30%;
  margin: 15px;
  padding: 10px;

}
.form-group-direccion{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 40%;
  margin: 15px;
  padding: 10px;
}